<html> 

	<h1>Charts and Word Clouds </h1> 

	<body>
         <img src="{{url_for('static',filename='images/c1.png')}}"
         width="275"
         height="231">
         
         <img src="{{url_for('static',filename='images/c2.png')}}"
         width="275"
         height="231">
         
         <img src="{{url_for('static',filename='images/c3.png')}}"
         width="275"
         height="231">
         
         <img src="{{url_for('static',filename='images/c4.png')}}"
         width="275"
         height="231">
     </body>

     <br> </br>
     <body>
         <img src="{{url_for('static',filename='images/w1.png')}}"
         width="275"
         height="231">
         
         <img src="{{url_for('static',filename='images/w2.png')}}"
         width="275"
         height="231">
         
         <img src="{{url_for('static',filename='images/w3.png')}}"
         width="275"
         height="231">
         
         <img src="{{url_for('static',filename='images/w4.png')}}"
         width="275"
         height="231">
     </body>
     <br> </br>

 	<br> </br>
     <body>
         <img src="{{url_for('static',filename='images/m1.png')}}"
         width="275"
         height="231">
         
         <img src="{{url_for('static',filename='images/m2.png')}}"
         width="275"
         height="231">
         
         <img src="{{url_for('static',filename='images/m3.png')}}"
         width="275"
         height="231">
         
         <img src="{{url_for('static',filename='images/m4.png')}}"
         width="275"
         height="231">
     </body>
	         
</html>

